@import "./../footer";
@import "liff_visitor";
@import "liff_event";
@import "liff_invite";
@import "variables";

.thumbnail-slider {
  margin-top: 10px;
}

.thumbnail-slide-img {
  border-radius: 10px !important;
}

.slide-img {
  opacity: 0.6;
  &.is-active {
    opacity: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 2px solid #1f2937 !important;
}

.liff-product-detail-name {
  font-weight: 700;
}

.liff-product-detail-price {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
  span {
    font-size: 0.8rem;
    padding-left: 6px;
  }
}

.liff-product-detail {
  select {
    width: 20vw;
  }
}

.liff-product-list {
  margin-bottom: 50px;
}

.liff-product-view-all {
  font-size: 13px;
}

.liff-product-card-splide {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.liff-product-card-list-wrap {
  width: 45%;
  margin-bottom: 15px;
}

.card {
  .liff-product-card-img {
    height: 120px;
  }
}

.liff-product-card-title {
  font-size: 14px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  //-webkit-line-clamp: 2;
  white-space: nowrap;
  overflow: hidden;
}

.liff-product-sale {
  color: white;
  background-color: #d83473;
  font-size: 8px;
  padding: 3px;
  text-align: center;
}

.liff-product-detail-sale {
  @extend .liff-product-sale;
  font-size: 12px;
  padding: 6px;
  width: 60px;
}

.liff-product-sale-title {
  color: #d83473;
  font-size: 8px;
  //margin-left: 5px;
}

.liff-product-before-price {
  font-size: 10px;
}

.liff-product-detail-before-price {
  font-size: 12px;
}

.liff-product-card-price {
  text-align: left;
  padding-top: 5px;
}

.liff-cart-img {
  img {
    width: 120px;
    height: 110px;
  }
}

.liff-cart-change-quantity {
  width: 120px;
}

.delivery-address-item-edit {
  position: absolute;
  top: 20px;
  right: 5px;
  text-decoration: underline;
  padding-top: 1px;
}

.liff-checkout-payment-title {
  font-size: 13px;
}

.liff-specific-trades-link {
  text-decoration: underline;
  color: $liff_default_color;
  &:hover {
    color: $liff_default_color;
    text-decoration: underline;
  }
}

.liff-pay-total-title {
  font-weight: bold;
  font-size: 18px;
}

.liff-pay-discount {
  font-weight: bold;
  color: #d83473;
}

.liff-pay-total {
  @extend .liff-pay-discount;
  font-size: 18px;
}

.liff-checkout-delivery-button {
  margin-bottom: 19rem !important;
}

.checkout-card-check-wrap {
  label {
    padding-left: 10px;
  }
}

.liff-questionnaire-select-month {
  width: 60%;
}

.liff-questionnaire-select-div {
  padding: 5px;
  margin-top: 5px;
}

.liff-check-icon {
  width: 20%;
  height: 20%;
}

.liff-check-icon-wrap {
  text-align: center;
}

.liff-check-complete-title {
  color: $liff_default_color;
  font-weight: bold;
}

.liff-purchase-detail-card-title {
  color: #888888;
}

.liff-specific-trade-content {
  white-space: pre-wrap;
}

.questionnaire-required {
  background-color: #FA7272;
  border-radius: 3px;
  width: 3rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 3px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.questionnaire-any {
  @extend .questionnaire-required;
  background-color: #666666;
}

.radiocheck-invalid {
  display: block;
}

.order-complete-wrap {
  text-align: center;
}