.thumbnail-slider {
  margin-top: 10px;
}

.thumbnail-slide-img {
  border-radius: 10px !important;
}

.slide-img {
  opacity: 0.6;
  &.is-active {
    opacity: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 2px solid #1f2937 !important;
}

.liff-product-detail-name {
  font-weight: 700;
}

.liff-product-detail-price {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
  span {
    font-size: 0.8rem;
    padding-left: 6px;
  }
}

.liff-product-detail {
  select {
    width: 20vw;
  }
}

.liff-product-list {
  margin-bottom: 50px;
}

.liff-product-card-wrap {
  height: 200px;
}

.card {
  .liff-product-card-img {
    height: 120px;
  }
}

.liff-product-card-title {
  font-size: 12px;
  text-align: left;
}

.liff-product-card-price {
  text-align: left;
}