@import "../line_preview";

.product-preview-image-wrap {
  @extend .line-preview-image-wrap;
  width: 200px !important;
}

.product-preview-image {
  @extend .line-preview-image;
  padding: 10px !important;
  height: 150px;
	object-fit: cover;
  cursor: pointer;
}

.product-preview-video {
  position: relative;
}

.product-preview-input {
  display: none;
}

.preview-video {
  position: absolute;
  top: 50px;
  width: 180px;
  height: 180px;
}