$line_bg_color: rgb(130, 159, 191);

.line-preview {
  height: 600px;
}

.line-rich-menu-preview {
  height: 800px;
}

.line-preview-header {
  background-color: rgb(38, 45, 73);
  color: white;
  padding: 10px;
}

.line-preview-header-title {
  padding-left: 20px;
  font-size: 17px;
}

.line-preview-main {
  height: 90%;
  background-color: $line_bg_color;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.line-preview-main-content {
  padding: 20px;
}

.line-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
}

.line-preview-comment {
  display: inline-block;
  font-size: 1rem;
  overflow-wrap: break-word;
  white-space: pre-line;
  position: relative;
  padding: 6px 10px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border-width: 8px 18px 8px 8px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
    border-image: initial;
    transform: rotate(35deg);
  }
  p {
    margin-bottom: 0 !important;
    width: 300px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    text-align: left;
    color: #495057;
    position: relative;
    word-break: break-word;
    word-wrap: break-word;
  }
}


.line-preview-sticky-nav {
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 3;
}

.line-preview-content {
  width: 450px;
}

.open-content {
  margin-bottom: 0px;
  transition: margin 0.3s ease-in-out;
}

.close-content {
  margin-bottom: -600px;
  transition: margin 0.3s ease-in-out;
}

.line-preview-image-wrap {
  width: 150px;
}

.line-preview-image {
  padding: 15px;
  border: 1px solid #dee2e6;
}

.line-preview-comment-image {
  background-color: white;
  width: 60%;
  border-radius: 8px;
}

.line-preview-main-content-item-wrap {
  padding-bottom: 20px;
}

.line-rich-menu-preview {
  width: 340px;
}

.line-rich-menu-bar-wrap {
  padding: 1.3rem 1.25rem;
  background-color: white;
  border-top: 1px solid rgba(0,0,0,0.125);
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid $line_bg_color;
}

.line-rich-menu-bar {
  cursor: pointer;
}

.line-rich-menu-bar-item {
  position: absolute;
  left: 40%;
}

.line-rich-menu-wrap {
  width: 100%;
  padding: 25% 1.25rem;
  background-color: white;
  position: absolute;
  bottom: 9%;
  border: 1px solid $line_bg_color;
}

.line-rich-menu-img-wrap {
  position: absolute;
  bottom: 9%;
}

.line-rich-menu2-wrap {
  @extend .line-rich-menu-wrap;
  padding: 2.3rem 1.25rem;
}

// .line-rich-menu-img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
// }