.message-editor-wrap {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 2px;
  width: 100%;
}


.message-editor-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.125);
}


.message-editor-header-item-right {
  padding: {
    left: 10px;
    right: 10px;
    top: 8px;
  }
  cursor: pointer;
  &:hover {
    background-color: #e2e6ea;
  }
}