@import "./pages/send_history";
@import "./pages/liff";

$base_color: #707070;

.page-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: $base_color;
}

.list-head__items {
  display: flex;
  color: $base_color;
}

.list-head__title {
  margin-right: 1.5rem;
  color: $base_color;
}

.list-head__item {
  margin-right: 1rem;
}

.u-men {
  color: #2361ce;
}

.u-women {
  color: #E11D48;
}

.list-wrap {
  padding-bottom: 0 !important;
}

.event-list-wrap {
  padding-bottom: 20px;
}

.sidebar .multi-level .nav-link {
  padding-left: 1.5rem;
  font-size: .9em;
}

.target-count-wrap {
  margin-bottom: 20px;
}

.segment-form-title {
  padding-top: 10px;
  font-size: 17px;
}

.send-segment-icon {
  margin-right: 0 !important;
}

.message-detail-wrap {
  display: flex;
}

.message-detail {
  margin-right: 1rem;
  padding-top: 5px;
}

.message-detail-wrap {
  margin-top: 20px;
}

.table-body-tr {
  cursor: pointer;
}

.privilege-card-wrap {
  padding: {
    left: 15px;
    right: 15px;
  }
}
.privilege-card-item {
  margin-top: 20px;
}

.privilege-create-wrap {
  width: 90%;
  .privilege-create-form {
    width: 60%;
  }
}

.visit-time-input {
  width: 10%;
  margin: {
    left: 10px;
    right: 10px;
  }
}

.product-table-tr {
  line-height: 3;
}

.product-image {
  line-height: 1;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  width: 48px;
  height: 48px;
}

.order-status-badge {
  padding: 10px;
  font-size: 13px;
}

.nav-link {
  &.active {
    background-color: #1F2937 !important;
    color: white !important;
    border-color: #1F2937 !important;
  }
}

.orderer-info-wrap {
  h6, h4 {
    text-align: left;
  }
  span {
    display: block;
    text-align: left;
  }
}

.event-widget-card {
  width: 70%;
  cursor: pointer;
}

.richmenu-template {
  padding: 10px;
}

.richmenu-template-image {
  width: 160px;
  height: auto;
  &.active {
    border: 2px solid #3cb37a;
  }
}

.rich-menu-template-img-wrap {
  padding: 20px;
  border: 1px solid #dee2e6 !important;
}

.rich-menu-content {
  width: 40vw;
}

.management-tag-name {
  &:hover {
    cursor: pointer;
  }
}

.tag-edit-form {
  width: 25vw;
}

.product-category-badge {
  display: inline-block;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1;
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}

.category-color {
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 17vw;
}