$base_color: #707070;

.page-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: $base_color;
}

.list-head__items {
  display: flex;
  color: $base_color;
}

.list-head__title {
  margin-right: 1.5rem;
  color: $base_color;
}

.list-head__item {
  margin-right: 1rem;
}

.u-men {
  color: #2361ce;
}

.u-women {
  color: #E11D48;
}

.list-wrap {
  padding-bottom: 0 !important;
}

.event-list-wrap {
  padding-bottom: 20px;
}

.sidebar .multi-level .nav-link {
  padding-left: 1.5rem;
  font-size: .9em;
}

.target-count-wrap {
  margin-bottom: 20px;
}

.segment-form-title {
  padding-top: 10px;
  font-size: 17px;
}

.send-segment-icon {
  margin-right: 0 !important;
}

.message-detail-wrap {
  display: flex;
}

.message-detail {
  margin-right: 1rem;
  padding-top: 5px;
}

.segment-button-position {
  margin: {
    left: 20px;
    right: 20px;
  }
}

.message-detail-wrap {
  margin-top: 20px;
}