.navbar-logo-wrap {
  width: 9rem;
  padding: 0 0.5rem;
  margin: {
    top: 25px;
    bottom: 20px;
  }
}

.group-title {
  color: #9CA3AF;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 1rem 0.75rem;
}